.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
    display: flex;
    justify-content: center;
}

.modal-content {
    background-color: white;
    position: fixed;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    overflow: "auto",
}

.modal-content img {
    display: block;
    min-width: 70px;
    min-height: 70px;
}