@import url("https://fonts.googleapis.com/css2?family=Lora");

:root {
  --main-bg-color: brown;
  --second-bg-colour: red;
  --main-fg-colour: blue;
  --second-fg-colour: aquamarine;
}

body {
  margin: 0;
  margin-bottom: 110px;
  font-family: "Lora", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(139, 232, 203);
  background-image: url('./components/164518744532052896.png');
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(6, 90, 130);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-container {
  display: flex;
  background-color: rgb(225, 96, 54);
}

#close-basket {
  margin-left: 1rem;
  margin-top: 1rem;

}
.cat-container {
  display: flex;
  flex-wrap: wrap;
}

.cat img {
  
  color: blue;
  border: blue 2pt solid;
  flex: 1;

  min-width: 10vw;
  min-height: 10vw;
  max-width: 10vw;
  max-height: 10vw;
  margin: 1vw;
  margin-bottom: 2px;
  flex-grow: 0;
}

.cat-info {
  display: flex;
  justify-content: center;
}

.cat-info button {
  float: right;
}

.footer{
  padding-left: 20px;
  height: 70px;
  background-color: rgb(214, 122, 177);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}