@import url("https://fonts.googleapis.com/css2?family=Lora");

:root {
  --main-bg-color: brown;
  --second-bg-colour: red;
  --main-fg-colour: blue;
  --second-fg-colour: aquamarine;
}

body {
  margin: 0;
  font-family: "Lora", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-container {
  display: flex;
}

#close-basket {
  margin-left: 1rem;
  margin-top: 1rem;

}
.cat-container {
  display: flex;
  flex-wrap: wrap;
}

.cat img {
  
  color: blue;
  border: blue 2pt solid;
  flex: 1;

  min-width: 10vw;
  min-height: 10vw;
  max-width: 10vw;
  max-height: 10vw;
  margin: 1vw;
  margin-bottom: 2px;
  flex-grow: 0;
}

.cat-info {
  display: flex;
  justify-content: center;
}

.cat-info button {
  float: right;
}