@import url("https://fonts.googleapis.com/css2?family=Lora");

:root {
  --main-bg-color: brown;
  --second-bg-colour: red;
  --main-fg-colour: #b47153;
  --second-fg-colour: brown;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Lora", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(228, 236, 240);
  overflow-y: scroll;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-container {
  display: flex;
}


.basket-header {
  color: #d1b29d;
  display: flex;
  justify-content: space-between;
  border-bottom: lightskyblue solid 2pt;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  justify-content: space-around;
  min-width: 40vw;
  margin-left: 1vw;
  /* border: 2px solid salmon; */
}

/* a:hover {
  color: aqua;
} */

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: pink;
  margin-bottom: 1vh;

}

.nav-container a {
  text-decoration: none;
  color: grey;
  line-height: 50%;
  font-size:  1.5rem;
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1.5rem;
}

.nav-container a:hover {
  color: rgb(82, 82, 82);
}

.nav-bar-element {
  flex: 1;
  min-width: 10vw;
  text-decoration: none;
  

}

#close-basket {
  font-size: 25px;
  margin-left: 1rem;
  margin-top: 1rem;
  height: 50%;
  background-color: transparent;
  border: white solid 1pt;
  border-radius: 5px;
  cursor: pointer;
}

.remove {
  background-color: transparent;
  border: red solid 1pt;
}

.nav {
  height: 10vh;
  text-align: center;
  margin-bottom: 200px;
  
}

.nav a {
  padding: 1rem;
}

.route {
  display: block;
  height: 15vh;
}

.cat-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  
}

.cart:hover {
  cursor: pointer;
}

.cat img {
  
  border: var(--main-fg-colour) 2pt solid;
  flex: 1;

  min-width: 10vw;
  min-height: 10vw;
  max-width: 10vw;
  max-height: 10vw;
  margin: 1vw;
  margin-bottom: 2px;
  flex-grow: 0;
}

.cat-info {
  display: flex;
  justify-content: center;
  
}

.cat-info button {
  float: right;
}

.cat {
  background-color: var(--main-fg-colour);
  border-radius: 1vw;
  margin: 1vw;
  
}

.cat p {
  font-weight: 600;
}

.add-cat-button:hover {
  /* background-color:aqua; */
  cursor: pointer;
  margin-top: 0.2rem;
}

.footer {
  display: flex;

  position: relative;

  bottom: 0;
  width: 100%;
  margin-top: 30px;
  background-color: pink;
  justify-content: center;
  font-size: 20px;
}

.footer a {
  text-decoration: none;
  color: grey;
  line-height: 50%;
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1.5rem;
}

.footer a:hover {
  color: rgb(82, 82, 82);
}
