@import url("https://fonts.googleapis.com/css2?family=Lora");

:root {
  --main-bg-color: brown;
  --second-bg-colour: red;
  --main-fg-colour: blue;
  --second-fg-colour: aquamarine;
}

body {
  margin: 0;
  font-family: "Lora", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-container {
  display: flex;
}

.basket-header {
  display: flex;
  justify-content: space-between;
}

.cart {
  height: 50px;
  width: 50px;
  align-self: center;
  
}
.cart svg {
  margin-left: 30%;
  scale: 2;
  cursor: pointer;
}

.svg {
  height: 50px;
}


#close-basket {
  margin-left: 1rem;
  margin-top: 1rem;
  height: 50%;
}
.cat-container {
  display: flex;
  flex-wrap: wrap;
}

.cat {
  background-color: #DDBEA9;
  border-radius: 5px;
  margin: 1px;
}

.cat img {
  
  
  border-radius: 3px;
  flex: 1;

  min-width: 10vw;
  min-height: 10vw;
  max-width: 10vw;
  max-height: 10vw;
  margin: 1vw;
  margin-bottom: 2px;
  flex-grow: 0;
}

.cat-info {
  display: flex;
  justify-content: center;
}

.cat-info button {
  float: right;
}

.name-and-price {
  margin-bottom: 10px;
  margin-top: 5px;
  margin-right: 5px;
}

.add-cat-button{
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 5px;
}

.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: pink;
  justify-content: center;
  font-size: 20px;
}

.footer a {
  text-decoration: none;
  color: grey;
  line-height: 50%;
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1.5rem;
}

.footer a:hover {
  color: rgb(82, 82, 82);
}
